process {
    withName: BCFTOOLS_MPILEUP {
        ext.args2 = '-m'
    }
}

params{
  fna = null
  sra_id = null
  local_file = null
  reference = null
  conda_env = "/tori/home/miniconda3/envs/hw3-pipeline"
  save_mpileup = true

}


profiles {
  local {
    process.executor = 'local'
    process.memory = '5 GB'
    
    conda.enabled = true
  }

  cluster {
    process.executor = 'sge' 
    process.memory = '7 GB'
    process.time = '24h'
    
    singularity.enabled = true
    singularity.autoMounts = true
  }

  container {
    process.executor = 'local'
    process.memory = '6 GB'      
    
    docker.enabled = true
    docker.runOptions = '-u \$(id -u):\$(id -g)'
  }
}

